<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd">
    <!--引入jdbc配置 -->
    <context:property-placeholder
        location="classpath:/config/database.properties" />
    <!--配置数据源 -->
    <bean
        id="dataSource"
        class="org.apache.commons.dbcp.BasicDataSource">
        <property
            name="driverClassName"
            value="com.mysql.jdbc.Driver" />
        <property
            name="url"
            value="jdbc:mysql://127.0.0.1:3306/mis?characterEncoding=utf8" />
        <property
            name="username"
            value="root" />
        <property
            name="password"
            value="jianghao" />
    </bean>
    <!-- 对数据源进行事务管理 -->
    <bean
        id="transactionManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property
            name="dataSource"
            ref="dataSource" />
    </bean>
    <!--配置sqlSessionFactory 并将数据源注入 -->
    <bean
        id="sqlSessionFactory"
        class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--dataSource属性指定要用到的连接池 -->
        <property
            name="dataSource"
            ref="dataSource" />
        <!--configLocation属性指定mybatis的核心配置文件 -->
        <property
            name="configLocation"
            value="classpath:config/Configuration.xml" />
        <!-- 所有配置的mapper文件 -->
        <property
            name="mapperLocations"
            value="classpath*:com/yiibai/mapper/*.xml" />
    </bean>
    <!-- 创建数据映射器 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property
            name="basePackage"
            value="com.yiibai.maper" />
    </bean>
</beans>